.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: yellow;
    padding: 10px 20px;
    
    top: 0;
  }

  .navbar {
    /* position: fixed;
    top: 0; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f2f2f2; */
    padding: 10px 20px;
     z-index: 1; /*Ensure the navbar is above other elements  */
  }
  
  .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s ease;
  }
  
  .hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
    transition: transform 0.3s ease;
  }
  
  .hamburger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .menu {
    display: none;
    padding-top: 10px;
  }
  
  .menu.open {
    display: block;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
  }
  
  .menu ul li {
    margin-bottom: 5px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #333;
  }
  
  
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu a {
    margin-bottom: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .dropdown-menu p {
    color: #333;
    margin: 0;
  }
  
  /* Add some space between the icons */
  .logo, .notification-icon {
    margin-right: 20px;
  }
  
  .logo img, .notification-icon img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  /* Rest of your styles... */
  